<template name="club">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Nome">
  </label>
  <label class="item item-input">
    <input id="endereco" type="text" placeholder="Endereço">
  </label>
  <label class="item item-input">
    <textarea placeholder="Descrição"></textarea>
  </label>
</div>
<div class="item item-divider">
      Funcionamento
</div>
<div class="list">
   <label class="item item-input">
    <input id="horario_de" type="text" placeholder="De">
  </label>
  <label class="item item-input">
    <input id="horario_ate" type="text" placeholder="Ate">
  </label>
</div>
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Segunda-Feira" type="checkbox">
     </label>
     Segunda-Feira
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Terça-Feira" type="checkbox">
     </label>
     Terça-Feira
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Quarta-Feira" type="checkbox">
     </label>
     Quarta-Feira
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Quinta-Feira" type="checkbox">
     </label>
     Quinta-Feira
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Sexta-Feira" type="checkbox">
     </label>
     Sexta-Feira
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Sábado" type="checkbox">
     </label>
     Sábado
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input name="dias" value="Domingo" type="checkbox">
     </label>
     Domingo
  </li>
</ul>
	<form class="col-md-8">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input type="text" class="form-control" id="nome" placeholder="">
		</div>
		<div class="form-group">
			<label for="endereco">Endereço</label>
			<input type="text" class="form-control" id="endereco" placeholder="">
		</div>
		<div class="form-group">
			<label>Funcionamento</label><br/>
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Segunda-Feira"> Segunda-Feira
			  </label>
			  <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Terça-Feira"> Terça-Feira
			  </label>
			  <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Quarta-Feira"> Quarta-Feira
			  </label>
			   <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Quinta-Feira"> Quinta-Feira
			  </label>
			   <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Sexta-Feira"> Sexta-Feira
			  </label>
			   <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Sábado"> Sábado
			  </label>
			   <label class="btn btn-primary">
			    <input type="checkbox" name="dias" autocomplete="off" value="Domingo"> Domingo
			  </label>
			</div>
		</div>
		<div class="form-group">
			<label for="">Horário de Funcionamento</label><br/>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="horario_de" placeholder="De">
			</div>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="horario_ate" placeholder="Até">
			</div>
		</div>
		<br/>
		<div class="form-group">
			<label for="descricacao">Descrição</label>
			<textarea class="form-control" id="descricao"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Cadastrar</button>
	</form>
</template>